<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="A Steam-like platform for libre games.">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre.min.css"
        integrity="sha512-9RIcp1f4CE6dEuYX9085tXaEbYd1ap04d2Av1ub/dwuT33WbfbHStDdQ+shKrp5wzZzleh5DOg+7ABSnaQP/nQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .card {
            border: 0;
            box-shadow: 0 .25rem 1rem rgba(48, 55, 66, 0.55);
        }

        .flathub-btn {
            border: 0;
            box-shadow: 0 .25rem 1rem rgba(48, 55, 66, 0.2);
            border-radius: 0.5rem;
        }

        .img-container {
            width: 6rem;
            display: inline-block;
            margin-right: 1rem;
        }

        .img-mobile {
            width: 5rem;
        }

        h1 {
            margin-bottom: 0;
            font-size: 4rem;
        }

        .title-container {
            width: 10rem;
            display: inline-block;
        }

        .homepage-content p {
            margin: 0;
            padding: 0.5rem 0 0.5rem 0;
        }

        .homepage-content p .menu-text {
            text-decoration: underline dotted;
        }

        .homepage-content p:hover {
            background-color: rgba(48, 55, 66, 0.05);
        }

        .footer {
            padding: 1rem;
        }
    </style>
    <script type="application/ld+json">
        {
          "@context": "https://getarcadia.org/",
          "@type": "Website",
          "name": "Arcadia",
          "image": "https://getarcadia.org/img/logo.png",
          "description": "A Steam-like platform for libre games."
        }
    </script>
</head>

<body class="bg-gray">
    <a href="https://gitlab.com/librebob/athenaeum" target="_blank">
        <span
            style="font-size: 20px; position:fixed; top:50px; right:-55px; display:block; transform: rotate(45deg); background-color:#FC6D27; color:black; padding: 4px 35px 4px 35px; z-index:99">Fork
            Me On GitLab</span>
    </a>

    <div class="container">
        <div class="columns">
            <div class="column col-8 p-centered">
                <header class="navbar">
                    <section class="navbar-section">
                        <a href="/" class="btn btn-link pl-0 text-dark">{{.Site.Title}}</a>
                        {{ range .Site.RegularPages }}
                        <a href="{{.Permalink}}" class="btn btn-link text-dark">{{.Title}}</a>
                        {{ end }}
                    </section>
                    <section class="navbar-section hide-sm">
                        <a href="https://matrix.to/#/#arcadia:matrix.org" class="btn btn-link text-success"
                            target="_blank">
                            Join us on Matrix!
                        </a>
                    </section>
                </header>
                {{ block "main" . }}
                <!-- The part of the page that begins to differ between templates -->
                {{ end }}
                {{ block "footer" . }}
                <div class="footer ">
                </div>
                {{ end }}
            </div>
        </div>
    </div>

</body>
<script>
    const screenshot = document.getElementById('screenshot')
    const links = document.getElementById('links')
    const elements = document.querySelectorAll('.c-hand')

    elements.forEach(element => {
        element.addEventListener("mouseover", event => {
            if (!event.target.id) {
                screenshot.src = `/img/${event.target.parentElement.id}.png`
            } else {
                screenshot.src = `/img/${event.target.id}.png`
            }
        })
    })

    links.addEventListener("mouseleave", event => {
        screenshot.src = `/img/home.png`
    })
</script>

</html>