{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div class="hero">
    <div class="hero-body">
        <header class="homepage-header">
            <h1>{{.Title}}</h1>
            {{ with .Params.subtitle }}
            <h4>{{.}}</h4>
            {{ end }}
        </header>
    </div>
</div>
{{ .Content }}
{{ end }}