{{ define "main" }}
<main aria-role="main">

    <div class="hero">
        <div class="hero-body">
            <header class="homepage-header">
                <div class="columns">
                    <div class="column col-6 hide-md">
                        <div class="img-container">
                            <img src="/img/logo.png" class="img-responsive img-fit-contain" alt="The Arcadia logo." />
                        </div>
                        <div class="title-container">
                            <h1>{{.Title}}</h1>
                            {{ with .Params.subtitle }}
                            <h4>{{.}}</h4>
                            {{ end }}
                        </div>
                    </div>
                    <div class="column col-md-12 show-md">
                        <div class="text-center">
                            <img src="/img/logo.png" class="img-fit-contain img-mobile" alt="The Arcadia logo." />
                        </div>
                        <div class="text-center">
                            <h1>{{.Title}}</h1>
                            {{ with .Params.subtitle }}
                            <h4>{{.}}</h4>
                            {{ end }}
                        </div>
                    </div>
                    <div class="column col-6 hide-md">
                        <a href="https://flathub.org/apps/details/com.gitlab.librebob.Athenaeum" target="_blank" class="float-right">
                            <img src="https://flathub.org/assets/badges/flathub-badge-i-en.png" width="190px"
                                alt="A link to the flathub page for Arcadia." class="flathub-btn" />
                        </a>
                    </div>
                    <div class="column col-md-12 show-md text-center">
                        <a href="https://flathub.org/apps/details/com.gitlab.librebob.Athenaeum" target="_blank">
                            <img src="https://flathub.org/assets/badges/flathub-badge-i-en.png" width="190px"
                                alt="A link to the flathub page for Arcadia." class="flathub-btn" />
                        </a>
                    </div>
                </div>
            </header>
        </div>
    </div>

    <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        <div class="columns">
            <div class="column col-6 col-md-12">
                {{.Content | safeHTML }}
            </div>
            <div class="column col-6 col-md-12">
                <div class="card">
                    <div class="card-image">
                        <img id="screenshot" src="/img/home.png" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div>
        {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary"}}
        {{ end }}
    </div> -->
</main>
{{ end }}